.test {
  /* background: -webkit-linear-gradient( #ed3833, #df3d7e); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.approach-title {
  color: white;
}

.approach-content {
  color: white;
}

/* .test1 { */

/* font-size: 5.5rem !important; */

.test20 {
  color: #1b1a25;
}
.test21 {
  color: white;
}

.test10 {
  background: -webkit-linear-gradient(#1b1a25, #1b1a25);
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
}

.alert-toast {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  width: fit-content;
  font-size: 15px;
  border-radius: 55px;
  padding: 0 61px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

@media (max-width: 576px) {
  .test1 {
    font-size: 3.3rem !important;
  }
}

@media (min-width: 577px) {
  .test1 {
    font-size: 7rem !important;
  }
}

/* } */

/* .test2 { */

@media (max-width: 576px) {
  .test2 {
    font-size: 1.2rem !important;
    margin-top: 25px;
  }
}

@media (min-width: 577px) {
  .test2 {
    font-size: 2.8rem !important;
    margin-top: 50px;
  }
}

/* } */


.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}

#customers-testimonials .shadow-effect p {
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}

.testimonial-name {
    margin: -17px auto 0;
    display: table;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}

#customers-testimonials .item {
    text-align: center;
    padding: 50px;
    margin-bottom: 80px;
    opacity: .2;
    transform: scale3d(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    transform: scale3d(1.0, 1.0, 1);
}

#customers-testimonials.owl-carousel .owl-dots {
    width: 100%;
    text-align: center;
}

#customers-testimonials.owl-carousel .owl-dot span {
    background: #3190E7;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    display: inline-block;
    transform: scale(0.3);
    transition: 250ms ease-out;
}

#customers-testimonials.owl-carousel .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dot:hover span {
    transform: scale(0.7);
}
